@{
    ViewData["Title"] = "Home Page";
}
<header>
    <h1>Shaker</h1>
    <p class="text">Place where is whatever drink you want</p>
</header>
<main>
    <h2>Make your choice</h2>
    <div class="ChooseOption">
        @Html.ActionLink("Choose by the letter", "Index", "Drink", null, new { @class = "hyperText" })
    </div>
</main>
