@{
    ViewData["Title"] = "Home Page";
}
<header>
    <h1>Shaker</h1>
    <p>Place where whatever drink you want.</p>
</header>
<main>
    <h2>Make your choice</h2>
    <div>
        @Html.ActionLink("Choose by the letter", "Index", "Drink")
    </div>
</main>
