@{
    ViewData["Title"] = "DrinkDetails";
}
@model Shaker.WebUI.Models.DrinkDetailsViewModel
<header>
    <h1>Your drink</h1>
</header>
<body>
    <h2>Drink Details</h2>
    <section class="ingridients">
        <h3>Ingridients</h3>
    </section>
</body>
