@{
    ViewData["Title"] = "DrinkDetails";
}
@model Shaker.WebUI.Models.DrinkDetailsViewModel
<header>
    <h1>Your drink</h1>
</header>
<body>
    <h2>Drink Details</h2>
    <section class="initialInformation">
        <h3>Ingridients</h3>
        <div id="figureAndComponents">
            <ul class="text">
                @foreach (var component in Model.DrinkComponents)
                {
                    <li class="listedIngridient">@(component.Key + ": " + component.Value)</li>
                }
            </ul>
            <figure class="drinkFigure">
                <img src=@Model.Drink.StrDrinkThumb alt="drink image" width="300" height="300" />
                <figcaption class="text">@Model.Drink.StrDrink</figcaption>
            </figure>
        </div>
    </section>
    <section class="details">
        <h3>Instruction</h3>
        <p class="text" id="instruction">@Model.Drink.StrInstructions</p>
    </section>
</body>
