@{
    ViewData["Title"] = "DrinkDetails";
}
@model Shaker.WebUI.Models.DrinkDetailsViewModel
<header>
    <h1>Your drink</h1>
</header>
<body>
    <h2>Drink Details</h2>
    <section class="initialInformation">
        <h3>Ingridients</h3>
        <div>
            <ul>
                @foreach (var component in Model.DrinkComponents)
                {
                    <li class="listedIngridient">@(component.Key + ": " + component.Value)</li>
                }
            </ul>
        </div>
        <figure class="drinkFigure">
            <img src=@Model.Drink.StrDrinkThumb alt="drink image" width="300" height="300" />
            <figcaption>@Model.Drink.StrDrink</figcaption>
        </figure>
    </section>
    <section class="details">
        <h3>Instrudtion</h3>
        <p>@Model.Drink.StrInstructions</p>
    </section>
</body>
