@{ 
    ViewData["Title"] = "ChooseByLetter";
}
<header>
    <h1>Choose by letter</h1>
</header>
<body>
    <div class="keyboard">
        @{char[] alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray(); }
        @foreach (var letter in alpha)
        {
            <div class="letterButton">@letter</div>
        }
    </div>
</body>