html {
    /* 62.5% * 16px = 10px */
    font-size: 62.5%;
}

body {
    background-color: black;
    text-transform: uppercase;
    font-family: 'Vibur', cursive;
}

header {
    text-align: center;
    color: white;
    text-shadow:
    /* white glow */
    0 0 7px #ff0490, 
    0 0 10px #ff0490, 
    0 0 21px #ff0490,
    /* green glow */
    0 0 42px #ff0490, 
    0 0 82px #ff0490,
    0 0 92px #ff0490,
    0 0 102px #ff0490,
    0 0 151px #ff0490;
}

h1 {
    font-size: 10rem;
}

.text {
    font-size: 3rem;
    color: white;
}

h2 {
    font-size: 5rem;
    text-align: center;
    margin: 10rem;
    margin-bottom: 5rem;
    color: white;
}

.ChooseOption {
    border-radius: 10px;
    text-align: center;
}

.ChooseOption:hover {
    color: initial;
    border-color: aqua;
}

.hyperText {
    font-size: 5rem;
    text-decoration: none;
    color: black;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.letterButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 3rem;
    height: 7rem;
    margin: 10px;
}

.letterButton:hover{
    color: black;
    border-color: black;
    background-color: white;
}

.letter {
    text-align: center;
    color: inherit;
    display:inline-block;
    width:100%;
    height:100%;
}

ul {
    list-style-type: none;
    color: white;
}

.listedDrink {
    border-radius: 10px;
    color: white;
    padding-left: 1rem;
}

.listedDrink:hover {
    color: black;
    background-color: white;
}

.listedDrink {
    color: inherit;
    display: flex;
}

.listedIngridient {
    color: white;
}

h3 {
    color: white;
    font-size: 4rem;
    text-align: center;
}

#figureAndComponents {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

figcaption {
    text-align: center;
}

img {
    border-radius: 10px;
    height: 30rem;
    width: 30rem;
}

#instruction {
    text-align: center;
}

#chooseByLetter {
    border: 2px solid aqua;
    color: aqua;
}
